* {
    margin: 0;
    padding: 0;
    outline: 0;
}

.fullAboutModal {
    overflow-y: scroll;
    overflow-x: scroll;
}


.aboutDiv {
    /* display: flex; */
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 600;
    width: 100% !important;
    height: 80vh !important;
    overflow-y: scroll;
    overflow-x: scroll;
}

.sub-div {
    padding-left: 5% !important;
    padding-right: 5% !important;
    width: 100% !important;
}

.rightDiv {
    width: 100%
}

.holaDiv {
   padding-top: 5%;
}

.myPortfolio {
    /* color: #E60023; */
    color: brown;
    font-weight: bold;
}

.instagram {
    color: brown;
    font-weight: bold;
}

.twitter {
    color: brown;
    font-weight: bold;
}

.github {
    /* color: #fad0d6; */
    color: brown;
    font-weight: bold;
}

.instagram:hover {
    color: brown;
    text-decoration: line-through;
}

.twitter:hover {
    color: brown;
    text-decoration: line-through;
}

.github:hover {
    color: brown;
    text-decoration: line-through;
}

.myPortfolio:hover {
    /* color: #E60023; */
    color: brown;
    text-decoration: line-through;
}