* {
    margin: 0;
    padding: 0;
    outline: 0;
}

.aboutDiv {
    /* display: flex; */
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 600;
    width: 94.6% !important;
    height: 100vh !important;
    /* background-color: purple; */
}

.sub-div {
    padding-left: 5% !important;
    padding-right: 5% !important;
    width: 100% !important;
}

.rightDiv {
    float: right;
    width: 40%
}

.leftDiv {
    float: left;
    width: 40%;
}

.holaDiv {
   padding-top: 10rem;
}

/* .my-name-is {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
} */

/* .about-me {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    text-align: center;
    align-items: center;
} */

.instagram {
    color: #E60023;
    font-weight: bold;
}

.twitter {
    color: #E60023;
    font-weight: bold;
}

.github {
    color: #E60023;
    font-weight: bold;
}

.instagram:hover {
    color: #E60023;
    text-decoration: none;
}

.twitter:hover {
    color: #E60023;
    text-decoration: none;
}

.github:hover {
    color: #E60023;
    text-decoration: none;
}