* {
    padding: 0;
    margin: 0;
}


.create-board-form {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.board-name-place {
    /* display: flex; */
    /* float: right; */
    margin-bottom: 3em;
    width: 20rem;
    border: 3px solid #E60023;
    border-radius: 1rem;

}

.board-description-place {
    display: flex;
    float: right;
    width: 20rem;
    height: 10rem;
    border: 3px solid #E60023;
    border-radius: 1rem;
}

.image-preview__image {
    border-radius: 2rem;
    width: 40%;
    height: 25rem;
    display: flex;
    float: left;
    padding-right: -90rem;
}

.image-preview-view {
    display: flex;
    float: left;
    width: 20rem;
    height: 1.8rem;
    margin-top: 3rem;
    margin-left: 19rem;
    border-radius: 49px;
    background-color: #E60023;
    font-size: larger;
}

.image-preview__default-text {
    /* display: flex; */
    /* flex-direction: row; */
    font-size: 40px;
    /* position: relative; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 2.5rem;
    width: 100%;
    height: 5rem;
    border: 3px solid #E60023;
    border-radius: 1rem;
}

.welcome-create-board {
    margin: auto;
    font-size: x-small;
}