* {
    padding: 0;
    margin: 0;
    outline: 0;
}

/* -------------- General setup of Navbar ------------- */
.navbarUno {
    width: 100vw !important;
}

/* -------------Non-user view of Navbar------------- */

.navbarSupportedContent.collapse.navbar-collapse {
    width: 1rem !important;
}

.navbar-collapse {
    /* flex-grow: 0 !important; */
    /* display: block; */
}

.navbar {
    width: 100% !important;
    height: 14vh;
}

.publicNavAbout, .publicNavContact, .publicNavSignup, .publicNavLogin {
    color: brown;
    background: #efefef;
    border: none;
    border-radius: 2.1rem !important;
    width: 5.6rem;
    height: 2.9rem; 
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
    text-align: center !important;
}

.publicNavLogin {
    color: #ffffff !important;
    background-image: linear-gradient(to right, brown , tan);
}

.publicNavAbout:hover, .publicNavContact:hover, .publicNavSignup:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: brown;
}

.publicNavLogin:hover {
    color: #ffffff;
    border-radius: 2rem;
    text-decoration: none; 
    background-image: linear-gradient(to right, tan , brown);
}

.pintrestLogoLettersNon {   
    background-image: url('../assets/Lifetrest.png');
    background-repeat: no-repeat !important;
    color: transparent;
    background-size: 300px 350px; 
    background-position: center;
    width: 16rem;
    height: 3rem; 
    border-radius: 2rem !important;
}

.pintrestLogoLettersNon:hover {
    color: transparent;
    text-decoration: none;
}

/* -------------------------------------UserNavBar------------------------- */

.user-nav-feed, .user-today {
    color: black;
    border-radius: 5rem;
    width: 3rem; 
    font-weight: bold !important;
    margin-right: 0.5rem;
    font-size: 30px !important;
}

.user-today {
    border: none !important;
    background-color: transparent !important;
}

.user-nav-message {
    color: transparent !important;
    text-decoration: none;
    background: url('https://api.iconify.design/si-glyph:bubble-message-hi.svg') no-repeat center center / contain !important;
    background-size: 2rem;
    border-radius: 0.2em;
    width: 3rem !important;
    height: 3rem !important;
    border: none;
    /* box-shadow: brown 2px 2px 4px 4px; */
}

.nav-link.messages:hover {
    color: transparent !important;
} 

.user-nav-notify {
    color: transparent;
    text-decoration: none;
    background: url('https://api.iconify.design/clarity:bell-solid.svg') no-repeat center center / contain;
    background-size: 2rem;
    border-radius: 0.5em;
    width: 3rem;
    height: 2rem; 
}

.user-nav-image {
    display: flex;
}

.user-nav-image-2 {
    height: 80px;
    width: 80px;
    border-radius: 4rem;
    margin-left: 0.5rem !important;
}

.user-nav-accounts {
    background: url('https://api.iconify.design/bx:bx-chevron-down.svg') no-repeat center center / contain;
    color: transparent;
    background-size: 2rem;
    border-radius: 0.5em;
    width: 3rem;
    height: 2rem;
    border: none;
    cursor: pointer;
    margin-left: 0.5rem;
    z-index: 20;
}

.user-nav-accounts:hover {
    color: transparent;
    background-color: #e9e8e8;
    margin-top: -.8rem;
    z-index: 20;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 2%;
    z-index: 20;
}

.account-dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0.1rem;
    z-index: 1;
    right: 4px;
    left: auto;
    justify-content: start;
    align-items: flex-start;
    text-align: start;
    font: 8px;
    width: 15rem;
    margin-top: 1rem !important;
    background-color: white;
    box-shadow: brown;
}

.account-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 0.5rem;
}

.account-dropdown-content a:hover {
    background-color: #ddd;
    color: #000000;
    text-decoration: none;
    
}

.dropdown:hover .account-dropdown-content {
    display: block;
    border-radius: 2rem;
}

.drop-labels {
    font-size: smaller;
    font-weight: bold;
    margin-left: 0.8rem;
    padding-top: 5%;
    color: brown;
}

.pintrestLogoLetters {
    background-image: url('../assets/letterLogo.png');
    background-repeat: no-repeat;
    color: transparent;
    background-size: 5rem; 
    border-radius: 5em;
    width: 80px;
    height: 80px; 
    background-color: brown;
    box-shadow: brown 1px 1px 2px 2px;
}

.pintrestLogoLetters:hover {
    color: transparent;
    text-decoration: none;
} 

.logout-btn-style {
    width: 15rem;
    height: 3rem;
    color: #f8f6f6;
    background-color: brown;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 7;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border: none;
}

.logout-btn-style:hover {
    color: #ffffff;
    background-image: linear-gradient(to right, tan , brown);
}

.user-nav-search {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

/* login modal */
/* $body-bg: linear-gradient(180deg, #1c0138 0%, #2c0055 100%);
$border: linear-gradient(180deg, #ffdc2a 0%, #fb2182 41.54%); */
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

/* make inputs transparent [background:transparent */
.login-form {
    background-color: transparent;
}

.modalbody1 {
    height: 68vh !important;
}

.background4pin {
    position: absolute;
    overflow: hidden;
    top: calc(-80px/2);
    left: calc(50% - 40px);
}

.loginhello {
    text-align: center;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 34px !important;
    color: brown;
    font-weight: 900 !important;
}

.user-form-fill {
    text-align: center;
}

.otherExtraShit {
    width: 100%;
    text-align: center;
}

.login-input1, .login-input2 {
    border-radius: 10px 2px solid;
    padding-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 70%;
    justify-content: center;
    align-items: center;
    text-align: start;
    box-shadow: black 2px 2px;
    border-color: black !important;
    border-radius: 2rem;
    height: 3rem !important;
}

.signup-from-login {
    color: brown;
    font-weight: 700;
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: center;
}

.signup-from-login:hover {
    color: black;
}

/* button style */

.login-page-button1:hover {
    bottom: 176px;
    transition: all 1s ease-in-out;
    box-shadow: 0px 0px 10px #e0b46c;
}

.login-page-button1 {
    border-radius: 10px;
    width: 4rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: brown;
    font-family: "Sacramento", cursive;
    box-shadow: 0px 0px 16px brown;
    font-weight: 600;
    font-size: 1.3rem;
    z-index: 3;
    border: none;
    color: #ffffff;
    transition: all 1s ease-in-out;
    border-image: linear-gradient(#360154, #d442d5) 60;
    span: {
        text-align: center;
        font-family: "Sacramento", cursive;
        left: 56px;
        font-size: 35px;
        line-height: 70px;
        margin: 0 auto;
        transition: all 0.3s ease-in-out;
        background: -webkit-linear-gradient(#ffdc2a, #fb2182);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.sun {
    width: 4rem;
    margin-top: -5rem;
    margin-bottom: 2rem;
    height: 2rem;
    margin-left: 12.5rem;
    background: linear-gradient(180deg, #ffdc2a 0%, #fb2182 41.54%);
    box-shadow: 0px 0px 36px #ffdc2a;
    z-index: 2;
    border-radius: 65px;
    transition: all 1s ease-in-out;
  }

a.disabled {
    pointer-events: none;
    color: rgb(110, 110, 110);
}

/* modal titles */ /*  linksssss*/
.modaltitle1, .myPursuit {
    color: brown;
}

/* ----------testing ------------ */
