* {
    padding: 0;
    margin: 0;
}

.pin-list{ 
    margin: auto;
    display: grid;
}


.pinCard {
    width: 100%;
    column-count: 4;
    column-gap: 24px;
}

.pinCardTwo {
    display: grid;
    grid-gap: 4.5rem;
    width: 100%;
    grid-column-gap: 11px;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    margin-bottom: 3.5rem;
}




@media (max-width: 700px) {
    .pinCard {
        display: inline-block;
        width: 98%;
        column-count: 1;
        column-gap: 20px;
        row-gap: 20px !important;
    }

    .pinCardTwo {
        display: inline-block;
        grid-gap: 4.5rem;
        width: 100%;
        grid-column-gap: 11px;
        grid-template-columns: 1fr; 
        margin-bottom: 3.5rem;
    }
}

@media (min-width: 701px) and (max-width: 800px) {
    .pinCard {
        width: 100%;
        column-count: 2;
        column-gap: 20px;
    }

    .pinCardTwo {
        display: grid;
        grid-gap: 4.5rem;
        width: 100%;
        grid-column-gap: 11px;
        grid-template-columns: 1fr 1fr; 
        margin-bottom: 3rem;
    }
}

@media (min-width: 801px) and (max-width: 1395px) {
    .pinCard {
        width: 100%;
        column-count: 3;
        column-gap: 18px;
        row-gap: 10px !important;
    }

    .pinCardTwo {
        display: grid;
        grid-gap: 4.5rem;
        width: 100%;
        grid-column-gap: 11px;
        grid-template-columns: 1fr 1fr 1fr; 
        margin-bottom: 3rem;
    }
}

@media (min-width: 1396px) {
    .pinCard {
        width: 100%;
        column-count: 4;
        column-gap: 18px;
        row-gap: 10px !important;
    }
}