* {
  padding: 0;
  margin: 0;
}


.mainDivModal {
    text-align: center;
    align-items: center;
    height: 25rem;
    text-align: center;
    align-items: center;
    width: 23.5vw;
    border-radius: 2rem;
    transition: opacity 0.4s ease-in-out;
}



/* The Modal (background) */
.mainDivModalBackground {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease-in-out;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    z-index: 5;
  }

  .showModal-true {
      opacity: 70;
      pointer-events: none;
  }

  .showModal-false {
    visibility: hidden;
  }
  
  .innerModal {
      width: 60%;
      height: 35rem;
      margin: auto;
      display: flex;
      flex-direction: row;
      text-align: center;
      /* z-index: 2000; */
      border-radius: 2rem!important;
      background: #ffffff;
      border: none;

  }

  .pinImage img {
    width: 30rem;
    height: 35rem;
    object-fit: fill;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }

  .pinContent {
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    width: 100%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  .closeButton {
      display: flex;
      float: right;
      padding: 5px;
      background-color: transparent;
      width: 3rem!important;
      justify-content: center;
      text-align: center;
      border: none;
      margin-right: 0.5rem;
      margin-top: 0.5rem;
  }

  .styleContent {
    color: #000000;
    margin-top: 8rem;
  }

  .modal-content {
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .3rem;
    outline: 0;
}