.user-nav-search {
    border-radius: 24px;
    width: 46rem;
    height: 3.08rem;
    background-color: #e9e8e8;
    color: #333;
    border-style: none;
    justify-content: center;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(143, 143, 143);
    font: 30px;
    font-size: large;
    font-weight: 500;
    padding-left: 2.3rem;
    background: url('https://api.iconify.design/entypo-magnifying-glass.svg') no-repeat;
    background-position: 1.5vw;
  }
