* {
    padding: 0; 
    margin:0
}

.logged-in-user {
    margin-right: 1rem;
    padding: 3rem;
    height: 82vh;
    justify-content: center;
    text-align: left;
    background-color: transparent;
    /* border: 24px solid #dfdfdf ; */
    border-radius: 2rem;
    /* box-shadow: #dbdbdb 3px 3px 5px 10px; */
    overflow-y: scroll !important;
}

.profilePicChangeDiv {
    display: flex;
    flex-direction: column;
}

.profilePicDiv {
    display: flex;
    flex-direction: row;
    align-self: flex-start !important;
    width: 30%;
}

.profile-pic-preview-editP {
    width: 150px;
    height: 150px;
    border-radius: 5rem;
    margin-left: -11rem;
    margin-top: 5rem;
}

.profilePicUpdate-btn:hover {
    bottom: 176px;
    transition: all 2s ease-in-out;
    box-shadow: 0px 0px 10px #ffdc2a;
}

.profilePicUpdate-btn {
    align-self: center;
    border-radius: 10px;
    width: 4rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    background: brown;
    font-family: "Sacramento", cursive;
    box-shadow: 0px 0px 16px #ffffff;
    font-weight: 600;
    font-size: 1.3rem;
    z-index: 3;
    border: none;
    color: white;
    transition: all 1s ease-in-out;
    border-image: linear-gradient(#0088a0, #cc1212) 60;
    span: {
        text-align: center;
        font-family: "Sacramento", cursive;
        left: 56px;
        font-size: 35px;
        line-height: 70px;
        margin: 0 auto;
        transition: all 0.3s ease-in-out;
        background: -webkit-linear-gradient(#ffdc2a, #fb2182);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.sun2 {
    align-self: center;
    width: 4rem;
    margin-top: -4rem;
    height: 2rem;
    background: linear-gradient(180deg, tan 0%, brown 41.54%);
    box-shadow: 0px 0px 36px brown;
    z-index: 2;
    border-radius: 65px;
    transition: all 2s ease-in-out;
  }

.infoBodyDiv {
    display: flex;
    flex-direction: column;
    margin-top: -5%;
    /* background-color: crimson; */
}

.nameDiv01 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.nameLabel, .nameInput {
    display: block;
}

.nameLabel {
    width: 100%;
    height: 2.5rem;
    margin-top: 0.5rem !important;
    margin-bottom: 1rem !important;
}

.nameInput {
    width: 100%;
    padding-left: 3 !important;
}

.editProfileHeader {
    font-size: 34px;
    font-weight: 800;
}

.editProfilePara {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}

.profile-pic-preview2 {
    width: 150px;
    height: 150px;
    border-radius: 6rem;
}

.epLabel{
    color: brown;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-weight: 600;
}

.epLabel.one{
    color: brown;
}

.custom-file-upload-editP {
    box-shadow: 3px 1px 5px 3px lightgray;
    border-radius: 1rem;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    height: auto;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1%;
}

.custom-file-upload-editP:hover {
    background-image: linear-gradient(to right, rgb(204, 201, 197) , rgb(255, 255, 255));
}

.input-style-editP {
    height: 2rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 2px 2px 5px 3px rgb(221, 221, 221);
    padding-left: 2%;
}