* {
    padding: 0;
    margin: 0;
}

.user-info-full-div {
    justify-content: center;
    text-align: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 10%;
}

.all-users-profile-picture {
    height: 200px;
    width: 200px;
    border-radius: 10rem;
    margin-bottom: 5%;
    box-shadow:#020202 2px 2px 4px 4px;
}

.all-users-username {
    font-variant: small-caps;
    font-size: 20px;
    margin-top: 0.5%;
    margin-bottom: -0.2%;
    cursor: pointer;
}

.all-users-username:hover {
    color: brown;
}

.flex-full-name-div, .flex-member-since-div, .flex-bio-div {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.flex-full-name-label, .flex-full-name-ptag,  .flex-member-since-label, .flex-member-since-ptag, .flex-bio-label, .flex-bio-ptag {
    font-size: 22px;
}

.flex-full-name-label, .flex-member-since-label, .flex-bio-label {
    font-variant: small-caps;
    margin-right: 0.5%;
}

.flex-member-since-div, .flex-bio-div {
    margin-top: -1.5%;
}

.flex-bio-div {
    height: 8rem;
    overflow-y: scroll !important;
}

.user-profile-btn-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

}

.user-profile-pins-btn, .user-profile-boards-btn {
    color: #ffffff;
    background-color: brown;
    border: none;
    border-radius: 0.5rem;
    height: 2rem;
    width: 5rem;
    box-shadow: #312e2e 3px 3px 3px 3px;
}

.user-profile-pins-btn:hover, .user-profile-boards-btn:hover {
    box-shadow: #312e2e 3px 3px 5px 5px;

}


/* --------------------------------------------------------------- */

@media (max-width: 700px) {

    .user-info-full-div {
        padding-top: 7%;
    }

    .all-users-profile-picture {
        height: 100px;
        width: 100px;
        border-radius: 10rem;
        margin-bottom: 1%;
    }

    .all-users-username {
        font-size: 24px;
    }

    .flex-full-name-div, .flex-member-since-div, .flex-bio-div {
        display: none !important;
    }

    .user-profile-btn-div {
        margin-top: -2%;
    }
}

@media (min-width: 701px) and (max-width: 800px) {
    .user-info-full-div {
        padding-top: 1.5%;
    }

    .all-users-profile-picture {
        height: 150px;
        width: 150px;
        border-radius: 10rem;
        margin-bottom: 1%;
    }

    .all-users-username {
        font-size: 24px;
    }

    .flex-full-name-div, .flex-member-since-div, .flex-bio-div {
        display: none !important;
    }

    .user-profile-btn-div {
        margin-top: -1%;
    }
       
}

@media (min-width: 801px) and (max-width: 1000px) {

    .user-info-full-div {
        padding-top: 7%;
    }

    .all-users-profile-picture {
        height: 200px;
        width: 200px;
        border-radius: 10rem;
        margin-bottom: 1%;
    }

    .all-users-username {
        font-size: 24px;
        margin-bottom: -0.2%;
    }

    .flex-full-name-div, .flex-member-since-div, .flex-bio-div {
        display: none !important;
    }
    
}
