* {
    padding: 0;
    margin: 0;
}

.userProfile-main-container {
    background-color: lightseagreen;
    overflow-x: scroll !important;
    height: 90vh !important;
    /* position: static; */
}

.userProfile-top-div {
    background-color: lavender;
    height: 54vh;
    /* position: sticky !important; */
    /* margin-top: 1%; */
    /* overflow-x: scroll; */
    position: -webkit-sticky; /* Required for Safari */
    position: sticky;
}

.userProfile-bottom-div {
    background-color: lightcoral;
    height: auto;
    /* overflow-x: scroll; */
}

.userprofile-user-fullname-footer-div::before {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    background-color: maroon;
    display: block;
    /* z-index: -1; */
}

.userprofile-user-fullname-footer-div::after {
    /* z-index: 2; */
}

.userprofile-user-fullname {
    position: -webkit-sticky; /* Required for Safari */
    position: sticky;
}