.user-nav-search {
    border-radius: 24px;
    width: 46rem;
    height: 3.08rem;
    background-color: #e9e8e8;
    color: #333;
    border-style: none;
    justify-content: center;
    padding-left: 2rem;
    font-size: 22px;
}

.user-nav-search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(143, 143, 143);
    font: 30px;
    font-size: large;
    font-weight: 500;
    padding-left: 2.3rem;
    background: url('https://api.iconify.design/entypo-magnifying-glass.svg') no-repeat;
    background-position: 1.5vw;
}

.styleSuggestionDiv {
    display: block;
    position: absolute;
    /* border: 2px solid brown; */
    margin-left: 2%;
    width: 100% !important;
    z-index: 20;
    border-radius: 1rem;
}

.styleSuggestions {
    background-color: rgb(235, 235, 235);
    /* border: 2px solid brown; */
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 100%;
    padding-left: 2%;
    height: auto;
    overflow-x: scroll !important;
    background-attachment: fixed;
    background: inherit;
}

.styleSuggestions:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(133, 133, 133, 0.5);
    filter: blur(5px);
    background: inherit;
}

.styleSussestionLi {
    font-size: 32px;
    padding-right: 2%;
    color: brown;
}

.input[list] {
  margin-left:auto;
    margin-right:auto;

    max-width: 500px;
    background: #D2E9FF;
    padding: 20px 20px 20px 20px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #656;
}
